
add_library( CreateCoin_jsonball
   mm_ticks.cpp
   rc_params.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/CreateCoin/jsonball/jsonball.hpp
)

target_link_libraries( CreateCoin_jsonball fc )

target_include_directories( CreateCoin_jsonball PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include" )

INSTALL( TARGETS
   CreateCoin_jsonball

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
